body {
  background-color: grey;
}

img {
  height: 60px;
  position: relative;
}

h1 {
  font-size: 50px;
  text-align: center;
  font-family: monospace;
  color: royalblue;
  text-shadow: 0 0 5px yellow;
  margin: 0;
}

h2 {
  text-align: center;
  font-family: cursive;
  color: royalblue;
  text-shadow: 0 0 5px yellow;
  margin: 0;
  font-size: 35px;
}

#gamewindow {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: solid;
  border-color: black;
  border-radius: 15px;
  height: 600px;
  width: 400px;
  margin: auto;
  background-color: royalblue;
}

#metrics {
  margin: 30px 30px 0 30px;
  padding:10px;
  color: yellow;
  background-color: black;
  border: solid;
  border-radius: 5px;
  border-color: black;
  font-family: monospace;
}

#image{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 30px 30px 30px;
  border: solid;
  border-radius: 5px;
  background-color: black;
  height: 600px;
}

#buttons {
display: flex;
flex-wrap: wrap-reverse;
justify-content: space-around;
margin: 20px;
padding: 20px;
height: 120px;
}

/* #pic {
  animation: square 2s linear  infinite alternate;
}

@keyframes square {
  0% {

  }
  25% {
    transform: translateY(-250%);
  }
  50% {
    transform: translateX(-230%);
  }
  75% {
    transform: translateY(230%);
  }
  100% {
    transform: translateX(230%);
  }
} */

.button {
  border-radius: 5px;
  background-color: yellow;
  height: 30px;
  font-family: monospace;
  font-size: 15px;
  color: royalblue;
}

#input {
  font-family: monospace;
  color: royalblue;
  text-shadow: 0 0 5px yellow;
  font-size: 20px;
}

#submit {
  font-family: monospace;
  background-color: yellow;
  color: royalblue;
  border-radius: 5px;
  font-size: 20px;
}

#start {
  order: 1;
}
